# ==========================================
# DropForge Root .gitignore
# ==========================================

# 1. Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 2. IDEs and Editors
.idea/
*.iml
*.iws
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# 3. Environment Variables & Secrets (CRITICAL)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# 4. Terraform / Infrastructure as Code (For Phase 3)
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 5. Root Level Build/Log Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 6. Frontend Cache Overrides
storefront-ui/.vite/
.vite/

# IAM poilicy
iam_policy.json
iam_policy_latest.json